#heading{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    padding: 5px;
}
#main{
    position: relative;
    align-items: center;
}
.box{
    border: 2px solid black;
    background-color: rgb(119, 118, 118);
    margin: 8px;
    position: relative;
    width: 400px;
    height: 190px;
    float:inline-start;
}
#chicken{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 20px;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    background-color: pink;
    color: black;
    position: absolute;
    right:0px;
}
#beef{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 20px;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    color: white;
    background-color: rgb(185, 75, 75);
    position: absolute;
    right:0px;
}
#sushi{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 20px;
    border: 2px solid black;
    border-top: 0px;
    border-right: 0px;
    background-color: rgb(229, 185, 147);
    position: absolute;
    color: black;
    right:0px;
}
